@import url('./text.css');
@import url('./positioning.css');
@import url('./reset-html.css');
@import url('./spacing.css');
@import url('./icons.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  color: #003366;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hamburger-icon{
margin-left: auto;
}

.hamburger-menu-show {
  width: 100%;
  height: 80%;
}

.hamburger-menu-items {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hamburger-menu-item:hover{
  text-decoration: underline;
}

.hamburger-menu-close-icon{
  margin: 10px;
  display: flex;
  align-items: right;
  justify-content: right;
}

.speedFacts-container hr{
  border: 1px solid #E8EAED;
}

.speedFacts-row{
}


.speedFacts-row-content{
  margin: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FAQ-container {
  display: flex;
  flex-direction: column;
}

.FAQ-question {
  font-weight: bold;
}

.FAQ-transition {
  -webkit-animation-name: cssAnimation;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(0.9 ) skew(0deg) translate(8px);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  }
}

.header {
  height: 100vh;
  min-width: 240px;
  max-width: 300px;
  border-right: 1px solid #E8EAED;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  margin-right: 50px;
  float: left;
  position: sticky;
}

.brf-magelungen-title-logo{
  font-size: 2rem;
  width: 100px;
  font-family: Oswald;
}
.brf-magelungen-title-logo:hover{
cursor: pointer;
}

.hsb-logo:hover{
  cursor: pointer;
}

.home-container{
  width: 100%;
}

.home-welcome-h1{
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.8rem;
}

.hero-img-wrapper{
  width: 600px;
  height: 600px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.hero-img{
  display: block;
  position: absolute;
  right: 0;
  top: 100px
}


.standard-button{
  background-color: #F4C803;
  border-radius: 0.3rem;
  border: none;
  padding: 15px
}
.standard-button:hover{
cursor: pointer;
}
.standard-button:active{
cursor: pointer;
}

.promo-container{
  width: 20vw;
  height: 200px;
  background-color:#FFF3C2;
  border-radius: 0.3rem;
  cursor: pointer;
}

.promo-top-row{
align-items: center;
}

.promo-section{
  width: 100%;
  gap: 50px;
}

.news-post-container{
  border: 1px solid #E8EAED;
  width: 300px;
}

.news-container{
  display: grid;
}