.main-layout {
  display: flex;
  flex-direction: row;
}
.mobile {
  display: none;
}

.nav-menu-mobile {
  display: none;
  padding-top: 40px;
}

@media (max-width: 800px) {
  .main-container {
    width: 100vw;
    margin: 0;
    padding-left: 10px;
    padding-right: 0px;
    border: none;
    overflow: hidden;
  }
  .main-layout {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .mobile {
    display: block;
  }
  .nav-menu-desktop {
    display: none;
  }
  .nav-menu-mobile {
    display: flex;
    position: absolute;
    left: 84vw;
  }

  .hamburger-menu-show {
    left: -62vw;
    top: 16vw;
    padding: 20vw;
  }
  .header {
    border: none;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    padding: 0;
    /* padding-top: 20px; */
    width: 100%;
  }
  .icon-and-logo {
    display: flex;
    align-items: center;
    height: 15vh;
    width: 70vw;
  }
  .brf-magelungen-title-logo {
    align-self: center;
    margin-left: 0px;
    padding: 0;
    font-size: 2rem;
    white-space: nowrap;
  }
  .promo-section {
    max-width: 100%;
    flex-direction: column;
    margin: 0;
    gap: 0;
  }
  .promo-desktop-text {
  }

  .promo-container {
    height: 30vh;
    width: 90vw;
    margin: 10px;
  }
  .promo-headline {
    font-size: 1rem;
  }
  .snabblankar {
    width: 300px;
  }

  .news-container-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .home-welcome-h1 {
    position: relative;
    background-color: hsla(0, 100%, 100%, 0.5);
    margin-right: 10px;
  }

  .page-hero-placeholder {
    /* display: none; */
    width: 120%;
    height: 100%;
    position: relative;
    margin-bottom: -20%;
    overflow: hidden;
  }

  .page-header-container {
    background-color: #ebf5ff;
    top: 0px;
    width: 98%;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .page-header-links-container {
    flex-wrap: wrap;
  }

  .page-headline {
    font-size: 2rem;
  }
  .page-intro-text {
    max-width: 100%;
    font-size: 1.4rem;
  }

  .page-no-hero-placeholder {
    display: none;
  }

  .page-more-text {
    width: 96vw;
  }

  .blanketter-och-dokument-row {
    flex-direction: column;
  }

  .blanketter-och-dokument-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .blanketter-och-dokument-right {
    width: 100%;
  }

  .FAQ-main-container {
    display: block;
    margin: 0;
    padding: 0;
  }
  .FAQ-container {
    margin: 0;
  }
  .FAQ-item-box {
    width: 90vw;
  }

  .news-post-container {
    max-width: 90vw;
  }

  .speedFacts-main-container {
    flex-direction: column;
  }

  .speedFacts-row {
    width: 95vw;
  }

  .magelungsnytt-year-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .magelungsnytt-container {
    width: 100vw;
  }
  .important-box {
    padding: 10px;
    width: 95vw;
  }

  .important-box.foreningslokal {
    width: 95vw;
  }
  .foreningslokal-ordningsregler-container {
    width: 95vw;
  }
  .footer-container {
    flex-direction: column;
    width: 95vw;
  }
  .footer-headline {
    margin-bottom: 20px;
  }
  .footer-contact-column {
    margin-bottom: 20px;
  }

  .contact-container {
    flex-direction: column;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-container {
    align-items: center;
    justify-content: center;
  }
}

.header-mobile {
  width: 100%;
}

.header-mobile-positioning {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
