.main-layout{
    display: flex;
    flex-direction: row;
}
.mobile{
    display: none;
}

.nav-menu-mobile{
    display: none;
}

@media (max-width: 480px) {
    .main-layout{
        display: flex;
        flex-direction: column;
    }
    .mobile{
        display: block;
    }
    .nav-menu-desktop{
        display: none;
    }
    .nav-menu-mobile{
        display: flex;
        position: absolute;
        left: 80vw
    }
    .header{
        border: none;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 30vh
    }
    .icon-and-logo{
        display: flex;
        height: 15vh;
    }
}

.header-mobile{
    width: 100%;
}

.header-mobile-positioning{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* @media (max-width: 600px) {
    .menu-position{
        display: block;
    }
    
} */