.spacing.double {
	height: 5.8rem;
}

.spacing.standard {
	height: 2.9rem;
}

.spacing.medium {
	height: 1.4rem;
}

.spacing.small {
	height: 0.7rem;
}

.spacing.micro {
	height: 0.3rem;
}

.standard-padding{
	padding: 1.3rem;
}

.no-padding{
	padding: 0;
}

.no-margin {
	margin: 0;
}