
.main-font-size{
    font-size: 1.6rem;

}

.promo-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
}

.promo-headline{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
}

.news-post-date {
    font-size: 0.9rem;
}

.news-post-dayMonth{
    font-weight: 600;
}

.news-post-text{
    line-height: 1.6rem;
}